# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/chapter_one?schema=public"

# Redis
REDIS_HOST="localhost"
REDIS_PORT=6379

# JWT
JWT_SECRET="chapter-one-super-secret-jwt-key-2026"
JWT_EXPIRES_IN="900s"

# Ports
PORT=4000
NEXT_PUBLIC_API_URL="http://localhost:4000"
EXPO_PUBLIC_API_URL="http://localhost:4000"
