PORT=4000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/chapter_one?schema=public"
REDIS_HOST="localhost"
REDIS_PORT=6379
JWT_SECRET="chapter-one-super-secret-jwt-key-2026"
JWT_ACCESS_EXPIRES_IN="900s"
JWT_REFRESH_EXPIRES_IN="604800s"
JWT_ISSUER="chapter-one-auth"
JWT_AUDIENCE="chapter-one-api"
